---
import SectionIntro from '../section/SectionIntro.astro';
import SectionTitle from '../section/SectionTitle.astro';
import FaqCard, { type FaqCardProps } from './FaqCard.astro';

const faqItems: {
  type: FaqCardProps['type'];
  title: string;
  description: string;
  link?: {
    href: string;
    text: string;
  };
}[] = [
  {
    type: 'about',
    title: 'що таке сік?',
    description: `<p>сік — це нове винне ком’юніті в Україні. це люди, які люблять вино
        <span class="wh-nowrap">as simple as that</span></p>`,
  },
  {
    type: 'secret',
    title:
      'як мені дізнатись що <span class="wh-nowrap">за вино</span> <span class="wh-nowrap">у підписці?</span>',
    description:
      '<p>забрати його з пошти та відкрити вдома! інакше ніяк, бо в цьому і кайф — кожен місяць щось нове, сюрприз, тільки не кіндер, а крутіше (sorry for dad jokes)</p>',
  },
  {
    type: 'several',
    title:
      'як підписатись <span class="wh-nowrap">не на</span> одну пляшку, а на декілька?',
    description:
      '<p>просто оберіть <b>2 пляшки</b> у формі, далі ми зв’яжемось з вами та уточнимо деталі по відправці</p>',
    link: {
      href: '#form',
      text: 'до форми 👆',
    },
  },
  {
    type: 'whom',
    title: 'для кого це?',
    description: `<p>для тих, хто</p>
              <p>любить вино, але не любить обирати, що нового скуштувати</p>
              <p>хоче кожен місяць розпаковувати таємну пляшку та дивитись, як Рома про неї розповідає</p>
              <p>хоче зробити подарунок людині, <span class=wh-nowrap>яка любить</span> вино</p>`,
  },
  {
    type: 'price',
    title:
      'скільки коштує <span class="wh-nowrap">і що входить</span> <span class="wh-nowrap">у ціну?</span>',
    description: `<p>у підписку входить вино, приватний доступ до відео-розповіді та доставка на зручне вам відділення НП
              </p>
              <p>а ціна формується к-стю пляшок <span class=wh-nowrap>та місяців</span></p>`,
  },
  {
    type: 'thats-it',
    title: 'це все?',
    description:
      '<p>так! купуйте підписку, постіть в інсту приїхавші пляшки, тегайте сік, пийте вино, діліться враженнями, ходіть на дегустації, підписуйтесь на телеграм 👉</p>',
    link: {
      href: 'https://t.me/sikwine',
      text: 'телеграм канал ✈️',
    },
  },
];
---

<section class="faq-section">
  <SectionIntro>
    <SectionTitle Tag="h2">якщо треба детальніше</SectionTitle>
  </SectionIntro>

  <div class="faq-list">
    {
      faqItems.map((item) => (
        <FaqCard showLink={item.link} href={item.link?.href} type={item.type}>
          <Fragment slot="faq-title" set:html={item.title} />
          <Fragment slot="faq-description" set:html={item.description} />
          {item.link && <Fragment slot="faq-link">{item.link.text}</Fragment>}
        </FaqCard>
      ))
    }
  </div>
</section>

<style lang="scss">
  .faq-section {
    display: grid;
    gap: 40px;
  }

  .faq-section {
    padding-bottom: 160px;
  }

  .faq-list {
    display: grid;
    gap: 20px;
  }

  .to-form {
    display: inline-flex;
    align-self: start;
    padding: 6px 24px 10px;
    color: var(--bloody-red, #be3834);
    font-feature-settings:
      'dlig' on,
      'ss04' on;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.21px;
    background-color: var(--natural-white);
    text-decoration: none;
    box-shadow: 0 2px 8px 0 rgba(32, 38, 89, 0.16);
    border-radius: 60px;
  }

  @media screen and (min-width: 768px) {
    .faq-section {
      padding-bottom: 240px;
      gap: 100px;
    }
  }

  @media screen and (min-width: 1280px) {
    .faq-section {
      padding-bottom: 320px;
      gap: 72px;
    }
  }
</style>
