---
import SectionIntro from '../section/SectionIntro.astro';
import Container from '../Container.astro';
import Card from './Card.astro';
import { type CardProps } from './Card.astro';
import { AnchorSections } from 'src/config';
import { getDescription } from 'src/services/subscriptions/config';

const cards: CardProps[] = [
  {
    title: 'Одну',
    description: 'Всередині коробки буде: ',
    type: 'one',
  },
  {
    title: 'Дві',
    description: 'Всередині коробки будуть: ',
    type: 'two',
  },
  {
    title: 'Одну, але рідкісну',
    description: 'Всередині коробки буде: ',
    type: 'special',
  },
];
---

<section class="section" id={AnchorSections.subscribe}>
  <Container>
    <div class="wrapper">
      <SectionIntro align="center">
        <Fragment slot="section-subtitle">Яке ВИНО</Fragment>
        <Fragment slot="section-title">Скiльки можна замовити пляшок?</Fragment>
      </SectionIntro>
      <div class="cards">
        {
          cards.map((card) => (
            <Card
              title={card.title}
              description={`${getDescription(card.type)} ${card.description}`}
              type={card.type}
            />
          ))
        }
      </div>
    </div>
  </Container>
</section>

<style lang="scss">
  .section {
    padding-block: 60px;

    @media screen and (min-width: $bp-tablet-min) {
      padding-block: 100px;
    }

    @media screen and (min-width: $bp-desktop-min) {
      padding-block: 80px 100px;
    }
  }

  .wrapper {
    display: grid;
    gap: 40px;

    @media screen and (min-width: $bp-tablet-min) {
      gap: 60px;
    }
  }

  .cards {
    display: grid;
    gap: 16px;

    @media screen and (min-width: $bp-tablet-min) {
      gap: 40px;
    }
    @media screen and (min-width: $bp-desktop-min) {
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }
  }
</style>
