---
import ButtonLink from '@components/ButtonLink.astro';
import HeaderLink from './HeaderLink.astro';
import { SocialLinks } from 'src/config';
import type { HTMLAttributes } from 'astro/types';

export interface IHeaderLink extends HTMLAttributes<'header'> {
  href?: string;
  text: string;
  tag?: string;
  props?: Record<string, any>;
}

interface Props {
  className?: string;
  hasMobileView?: boolean;
  links: IHeaderLink[];
  isSticky?: boolean;
}

const { className, hasMobileView, links, isSticky, ...otherProps } =
  Astro.props;

const alpineProps = isSticky
  ? {
      'x-data': 'true',
      'x-bind:class': "$store.mainHeader.isScrolling ? 'is-scrolling' : ''",
      'x-on:scrollend.window': '$store.mainHeader.isScrolling = false',
    }
  : {};
---

<header
  class:list={[
    'main-header',
    className,
    {
      'main-header--with-mobile-view': hasMobileView,
    },
  ]}
  data-js-main-header
  {...alpineProps}
  {...otherProps}
>
  {
    hasMobileView && (
      <ButtonLink
        aria-controls="nav-mobile-menu"
        class="mobile-nav-open-button"
        x-on:click="$store.mainHeader.openMobileNav()"
        x-bind:aria-expanded="$store.mainHeader.isOpen ? 'true' : 'false'"
      >
        Меню
      </ButtonLink>
    )
  }
  <nav class="main-header-links-wrapper">
    <div class="main-header-links">
      {
        links.map((link) => {
          const isLink = !!link.href;
          const Tag = isLink ? HeaderLink : (link.tag ?? 'span');
          const otherProps =
            isLink && !link?.props?.isInactive
              ? {
                  href: link.href,
                  'data-js-header-link': true,
                  'x-on:click': '$store.mainHeader.headerLinkClick()',
                }
              : {};
          return (
            <Tag {...link.props} {...otherProps} {...link.props}>
              {link.text}
            </Tag>
          );
        })
      }
    </div>
  </nav>

  {
    hasMobileView && (
      <nav
        class="mobile-nav"
        data-js-mobile-nav
        id="nav-mobile-menu"
        x-bind:class="$store.mainHeader.isOpen ? 'is-open' : ''"
      >
        <div class="mobile-nav-overlay" />
        <div class="mobile-nav-content">
          <ButtonLink
            class="mobile-nav-close-button"
            aria-controls="nav-mobile-menu"
            x-on:click="$store.mainHeader.closeMobileNav()"
            x-bind:aria-expanded="$store.mainHeader.isOpen ? 'true' : 'false'"
          >
            Закрити
          </ButtonLink>
          <div class="mobile-nav-links">
            {links.map((link) => (
              <a
                class="mobile-nav-link heading-font"
                data-js-header-link
                x-on:click="$store.mainHeader.headerLinkClick();$store.mainHeader.closeMobileNav();"
                href={link.href}
              >
                {link.text}
              </a>
            ))}
          </div>
          <ul role="list" class="mobile-nav-socials">
            <li>
              <HeaderLink href={SocialLinks.instagram}>Інстаграм</HeaderLink>
            </li>
            <li>
              <HeaderLink href={SocialLinks.telegram}>Телеграм</HeaderLink>
            </li>
          </ul>
        </div>
      </nav>
    )
  }
  <slot name="logo" />
  <slot name="actions" />
</header>

<style is:global lang="scss">
  :root {
    --header-padding-inline: 24px;
    --header-padding-block: 16px;
    --header-padding: var(--header-padding-block) var(--header-padding-inline);
  }

  .main-header {
    position: relative;
    padding: var(--header-padding);
  }

  .main-header-links {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .mobile-nav-open-button {
    display: none;
  }

  .mobile-nav {
    --mobile-nav-gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    display: none;
    overflow: auto;
  }

  .mobile-nav-content {
    position: relative;
    z-index: 2;
    display: grid;
    justify-items: start;
    gap: var(--mobile-nav-gap);
    padding: var(--header-padding);
    background-color: var(--main-black);
  }

  .mobile-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
  }

  .mobile-nav-link {
    font-size: 4rem;
    line-height: 1;
    color: var(--main-white);
  }

  .mobile-nav-socials[role='list'] {
    display: flex;
    gap: 18px;
    padding-top: calc(120px - var(--mobile-nav-gap));
  }

  @media screen and (max-width: $bp-tablet-max) {
    .mobile-nav-open-button {
      display: block;
    }

    .main-header--with-mobile-view .main-header-links-wrapper {
      display: none;
    }

    .mobile-nav {
      display: block;
    }

    .mobile-nav-links {
      display: grid;
      gap: 24px;
    }

    .mobile-nav.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    .main-header--with-mobile-view .mobile-nav-open-button {
      display: none;
    }
  }
</style>
