---
import ButtonLink from '@components/ButtonLink.astro';
import HeaderLink from './HeaderLink.astro';
import { SocialLinks } from 'src/config';

export interface IHeaderLink {
  href?: string;
  text: string;
  tag?: string;
  props?: Record<string, any>;
}

interface Props {
  className?: string;
  hasMobileView?: boolean;
  links: IHeaderLink[];
}

const { className, hasMobileView, links } = Astro.props;
---

<header
  class:list={[
    'main-header',
    className,
    {
      'main-header--with-mobile-view': hasMobileView,
    },
  ]}
>
  {
    hasMobileView && (
      <ButtonLink
        aria-controls="nav-mobile-menu"
        aria-expanded="false"
        class="mobile-nav-open-button"
        data-js-mobile-nav-open-button
      >
        Меню
      </ButtonLink>
    )
  }
  <nav class="main-header-links-wrapper">
    <div class="main-header-links">
      {
        links.map((link) => {
          const isLink = !!link.href;
          const Tag = isLink ? HeaderLink : (link.tag ?? 'span');
          const otherProps =
            isLink && !link?.props?.isInactive
              ? { href: link.href, 'data-header-link': true }
              : {};
          return (
            <Tag {...link.props} {...otherProps}>
              {link.text}
            </Tag>
          );
        })
      }
    </div>
  </nav>

  {
    hasMobileView && (
      <nav class="mobile-nav" data-js-mobile-nav id="nav-mobile-menu">
        <ButtonLink
          class="mobile-nav-close-button"
          data-js-mobile-nav-close-button
          aria-controls="nav-mobile-menu"
        >
          Закрити
        </ButtonLink>
        <div class="mobile-nav-links">
          {links.map((link) => (
            <a
              class="mobile-nav-link heading-font"
              data-header-link
              href={link.href}
            >
              {link.text}
            </a>
          ))}
        </div>
        <ul role="list" class="mobile-nav-socials">
          <li>
            <HeaderLink href={SocialLinks.instagram}>Інстаграм</HeaderLink>
          </li>
          <li>
            <HeaderLink href={SocialLinks.telegram}>Телеграм</HeaderLink>
          </li>
        </ul>
      </nav>
    )
  }
  <slot name="logo" />
  <slot name="actions" />
</header>

<style is:global lang="scss">
  :root {
    --header-padding-inline: 24px;
    --header-padding-block: 16px;
    --header-padding: var(--header-padding-block) var(--header-padding-inline);
  }

  .main-header {
    position: relative;
    padding: var(--header-padding);
  }

  .main-header-links {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .mobile-nav-open-button {
    display: none;
  }

  .mobile-nav {
    --mobile-nav-gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: var(--mobile-nav-gap);
    z-index: 999;
    justify-items: start;
    padding: var(--header-padding);
    background-color: var(--main-black);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    display: none;
  }

  .mobile-nav-link {
    font-size: 4rem;
    line-height: 1;
    color: var(--main-white);
  }

  .mobile-nav-socials[role='list'] {
    display: flex;
    gap: 18px;
    padding-top: calc(120px - var(--mobile-nav-gap));
  }

  @media screen and (max-width: $bp-tablet-max) {
    .mobile-nav-open-button {
      display: block;
    }

    .main-header--with-mobile-view .main-header-links-wrapper {
      display: none;
    }

    .mobile-nav {
      display: grid;
    }

    .mobile-nav-links {
      display: grid;
      gap: 24px;
    }

    .mobile-nav.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media screen and (min-width: $bp-tablet-min) {
    .main-header--with-mobile-view .mobile-nav-open-button {
      display: none;
    }
  }
</style>

<script>
  import { lockBodyScroll, unlockBodyScroll } from 'src/utils/dom';

  const menuButton = document.querySelector(
    '[data-js-mobile-nav-open-button]'
  )!;
  const headerLinks = document.querySelectorAll('[data-header-link]')!;
  const menuCloseButton = document.querySelector(
    '[data-js-mobile-nav-close-button]'
  )!;
  const mobileNav = document.querySelector('[data-js-mobile-nav]')!;

  const handleCloseMobileNav = () => {
    window.gtag('event', 'header_menu_links_click');
    mobileNav.classList.remove('is-open');
    menuButton.setAttribute('aria-expanded', 'false');
    unlockBodyScroll();
  };

  if (menuButton && menuCloseButton) {
    menuButton.addEventListener('click', () => {
      mobileNav.classList.add('is-open');
      menuButton.setAttribute('aria-expanded', 'true');
      lockBodyScroll();
    });

    menuCloseButton.addEventListener('click', handleCloseMobileNav);
  }

  headerLinks.forEach((link) => {
    link.addEventListener('click', handleCloseMobileNav);
  });
</script>
