---
import Link from '@components/Link.astro';
import HeaderLink from './HeaderLink.astro';
import BaseHeader from './BaseHeader.astro';
import { AnchorLinks } from 'src/config';
---

<BaseHeader className="header">
  <Fragment slot="links">
    <HeaderLink href={AnchorLinks.howItWorks}>Як це працює</HeaderLink>
    <HeaderLink href={AnchorLinks.whatsInside}>Що всередині</HeaderLink>
    <HeaderLink href={AnchorLinks.whatWine}>Яке Вино</HeaderLink>
    <HeaderLink href={AnchorLinks.forWho}>Для кого</HeaderLink>
  </Fragment>
  <div slot="actions">
    <Link href={AnchorLinks.subscribe} isAnchor withIcon>Підписатись</Link>
  </div>
</BaseHeader>

<style>
  .header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
</style>
