---
import { Image, Picture } from 'astro:assets';
import Logo from './Logo.astro';
import heroImg from '@assets/img/hero.jpg';
import heroImgWebp from '@assets/img/hero.webp';
import heroImgAvif from '@assets/img/hero.avif';
import heroImgMobile from '@assets/img/hero-mobile.jpg';
import heroImgMobileWebp from '@assets/img/hero-mobile.webp';
import heroImgMobileAvif from '@assets/img/hero-mobile.avif';
import heroImgTablet from '@assets/img/hero-tablet.jpg';
import heroImgTabletWebp from '@assets/img/hero-tablet.webp';
import heroImgTabletAvif from '@assets/img/hero-tablet.avif';
---

<section class="hero">
  <div class="image">
    <picture>
      <source
        media="(min-width: 1024px)"
        srcset={heroImgAvif.src}
        type="image/avif"
      />
      <source
        media="(min-width: 1024px)"
        srcset={heroImgWebp.src}
        type="image/webp"
      />
      <source
        media="(min-width: 1024px)"
        srcset={heroImg.src}
        type="image/jpeg"
      />
      <source
        media="(max-width: 1023px)"
        srcset={heroImgTabletAvif.src}
        type="image/avif"
      />
      <source
        media="(max-width: 1023px)"
        srcset={heroImgTabletWebp.src}
        type="image/webp"
      />
      <source
        media="(max-width: 1023px)"
        srcset={heroImgTablet.src}
        type="image/jpeg"
      />
      <source
        media="(max-width: 767px)"
        srcset={heroImgMobileAvif.src}
        type="image/avif"
      />
      <source
        media="(max-width: 767px)"
        srcset={heroImgMobileWebp.src}
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset={heroImgMobile.src}
        type="image/jpeg"
      />
      <img
        src={heroImgMobile.src}
        width={heroImgMobile.width}
        height={heroImgMobile.height}
        alt=""
        fetchpriority="high"
      />
    </picture>
  </div>
  <div class="content">
    <div class="logo">
      <Logo />
    </div>
    <h1 class="title heading-font">
      Таємне вино з особливою історією у вас вдома.
    </h1>
  </div>
</section>

<style lang="scss">
  img {
    object-fit: cover;
  }

  .title {
    line-height: 1;
    font-size: 2.8rem;
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    picture,
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (min-width: $bp-desktop-min) {
    .hero {
      padding-block-start: 16px;
    }

    .title {
      display: block;
    }

    .logo {
      display: none;
    }
  }
</style>
