---
import { Image, Picture } from 'astro:assets';
import Logo from './Logo.astro';
import heroImg1x from '@assets/img/hero@1x.jpg';
import heroImg2x from '@assets/img/hero@2x.jpg';
import heroImgWebp1x from '@assets/img/hero@1x.webp';
import heroImgWebp2x from '@assets/img/hero@2x.webp';
import heroImgAvif1x from '@assets/img/hero@1x.avif';
import heroImgAvif2x from '@assets/img/hero@2x.avif';
import heroImgMobile1x from '@assets/img/hero-mobile@1x.jpg';
import heroImgMobile2x from '@assets/img/hero-mobile@2x.jpg';
import heroImgMobileWebp1x from '@assets/img/hero-mobile@1x.webp';
import heroImgMobileWebp2x from '@assets/img/hero-mobile@2x.webp';
import heroImgMobileAvif1x from '@assets/img/hero-mobile@1x.avif';
import heroImgMobileAvif2x from '@assets/img/hero-mobile@2x.avif';
import heroImgTablet1x from '@assets/img/hero-tablet@1x.jpg';
import heroImgTablet2x from '@assets/img/hero-tablet@2x.jpg';
import heroImgTabletWebp1x from '@assets/img/hero-tablet@1x.webp';
import heroImgTabletWebp2x from '@assets/img/hero-tablet@2x.webp';
import heroImgTabletAvif1x from '@assets/img/hero-tablet@1x.avif';
import heroImgTabletAvif2x from '@assets/img/hero-tablet@2x.avif';
---

<section class="hero">
  <div class="image">
    <picture>
      <source
        media="(min-width: 1024px)"
        srcset={`${heroImgAvif1x.src} 1x, ${heroImgAvif2x.src} 2x`}
        type="image/avif"
      />
      <source
        media="(min-width: 1024px)"
        srcset={`${heroImgWebp1x.src} 1x, ${heroImgWebp2x.src} 2x`}
        type="image/webp"
      />
      <source
        media="(min-width: 1024px)"
        srcset={`${heroImg1x.src} 1x, ${heroImg2x.src} 2x`}
        type="image/jpeg"
      />
      <source
        media="(max-width: 1023px)"
        srcset={`${heroImgTabletAvif1x.src} 1x, ${heroImgTabletAvif2x.src} 2x`}
        type="image/avif"
      />
      <source
        media="(max-width: 1023px)"
        srcset={`${heroImgTabletWebp1x.src} 1x, ${heroImgTabletWebp2x.src} 2x`}
        type="image/webp"
      />
      <source
        media="(max-width: 1023px)"
        srcset={`${heroImgTablet1x.src} 1x, ${heroImgTablet2x.src} 2x`}
        type="image/jpeg"
      />
      <source
        media="(max-width: 767px)"
        srcset={`${heroImgMobileAvif1x.src} 1x, ${heroImgMobileAvif2x.src} 2x`}
        type="image/avif"
      />
      <source
        media="(max-width: 767px)"
        srcset={`${heroImgMobileWebp1x.src} 1x, ${heroImgMobileWebp2x.src} 2x`}
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset={`${heroImgMobile1x.src} 1x, ${heroImgMobile2x.src} 2x`}
        type="image/jpeg"
      />
      <img
        src={heroImgMobile2x.src}
        srcset={`${heroImgMobile1x.src} 1x, ${heroImgMobile2x.src} 2x`}
        width={heroImgMobile2x.width}
        height={heroImgMobile2x.height}
        alt=""
        fetchpriority="high"
      />
    </picture>
  </div>
  <div class="content">
    <div class="logo">
      <Logo />
    </div>
    <h1 class="title heading-font">
      Таємне вино з особливою історією у вас вдома.
    </h1>
  </div>
</section>

<style lang="scss">
  img {
    object-fit: cover;
  }

  .title {
    line-height: 1;
    font-size: 2.8rem;
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    picture,
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (min-width: $bp-desktop-min) {
    .hero {
      padding-block-start: 16px;
    }

    .title {
      display: block;
    }

    .logo {
      display: none;
    }
  }
</style>
