---
import GeneralLayout from './GeneralLayout.astro';
import SimpleHeader from '../components/SimpleHeader.astro';
import Container from '@components/Container.astro';
import Footer from '@components/Footer.astro';
import Button from '@components/Button.astro';

interface Props {
  metaTitle: string;
  title: string;
  type?: '404' | '500';
  link: {
    href: string;
    text: string;
  };
}

const { metaTitle, title, type = '404', link } = Astro.props;

const pageThemeColor = type === '404' ? '#e59fa3' : '#b6b9cf';
---

<GeneralLayout title={metaTitle} pageThemeColor={pageThemeColor}>
  <div class:list={['error-page', `error-page--${type}`]}>
    <Container>
      <div class="wrapper">
        <SimpleHeader theme="dark" />
        <div class="content">
          <h1 class="title heading">{title}</h1>
          <h2 class="description heading">
            <slot name="description" />
          </h2>
          <div class="button-wrapper">
            <Button href={link.href}>{link.text}</Button>
          </div>
        </div>
      </div>
    </Container>
    <Footer shouldShowLinks={false} />
  </div>
</GeneralLayout>

<style lang="scss">
  .error-page {
    --error-page-gap: 16px;

    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--error-page-gap);
    min-height: 100vh;
    min-height: 100dvh;

    &--404 {
      background-color: #e59fa3;
    }

    &--500 {
      background-color: #b6b9cf;
    }

    @media screen and (min-width: $bp-tablet-min) {
      --error-page-gap: 64px;
    }

    @media screen and (min-width: $bp-desktop-min) {
      --error-page-gap: 54px;
    }

    @media screen and (max-height: 43.75rem) {
      --error-page-gap: 12px;
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--error-page-gap);
    text-align: center;
    color: #1a1a1f;
  }

  .title {
    margin-bottom: 8px;
    font-size: 16rem;
    line-height: 1;

    @media screen and (min-width: $bp-tablet-min) {
      margin-bottom: 24px;
      font-size: 32rem;
      line-height: 0.84;
    }

    @media screen and (min-width: $bp-desktop-min) {
      margin-bottom: 32px;
      font-size: 36rem;
      line-height: 0.77;
    }
  }

  .description {
    max-width: 72rem;
    width: 100%;
    margin-inline: auto;
    font-size: 2.8rem;
    line-height: 1.14;

    @media screen and (min-width: $bp-tablet-min) {
      font-size: 4rem;
      line-height: 1;
    }
  }

  .button-wrapper {
    margin-top: 40px;

    @media screen and (min-width: $bp-tablet-min) {
      margin-top: 48px;
    }
  }
</style>
